
.fitness {background-color: rgba(100,146,182,0.9);}
.fatigue {background-color: rgba(242,140,222,0.9);}
.stressBalance {background-color: rgba(246,192,119,0.9);}
.dailyTSS {background-color: rgba(253,101,133,0.9);}
.projected {background-color: rgb(128,203,196,0.9);}

.fitness-color {color: rgb(100,146,182);}
.fatigue-color {color: rgb(242,140,222);}
.stressBalance-color {color: rgb(246,192,119);}
.dailyTSS-color {color: rgb(253,101,133);}
.projected-color {color: rgb(128,203,196);}

#welcome img {
	border-radius: 50%;
	height: 40px;
}

#legend {
	position: absolute;
	top: 0px;
	left: 50px;
}

#legend span {margin-right: 5px; cursor: pointer;}

#headerData {
	position: relative;
  width: 250px;
  margin: auto;
  height: 50px;
}

#fatigueHead {
	font-size: .8rem;
	position: absolute;
  width: 65px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(242,140,222);
  top: 1px;
  right: 162px;
}

#fatigueHead span {color: rgb(242,140,222);}

#fatigueHead div {
	background-color: rgb(242,140,222);
  padding: 5px;
  border-bottom-left-radius: 4px;
}

#fitnessHead {
	position: absolute;
  border-radius: 10px;
  right: 85px;
  z-index: 100;
  top: -5px;
	background-color: rgb(100,146,182);
}

#stressHead {
	font-size: .8rem;
  position: absolute;
  width: 65px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(246,192,119);
  top: 1px;
  right: 23px;
}

#stressHead span {color: rgb(246,192,119);}

#stressHead div {
	background-color: rgb(246,192,119);
  padding: 5px;
  border-bottom-right-radius: 4px;
}

@media only screen and (max-width: 768px) {
	#welcome img {
		height: 35px;
	}

	#legend {font-size: .7rem}

  #headerData {
    width: 260px;
    height: 40px;
	}

	#fitnessHead {
		font-size: .8rem;
    right: 100px;
	}

	#fatigueHead {
		font-size: .7rem;
		right: 160px;
		top: 1px;
	}

	#fatigueHead div{
		padding: 0px;
	}

	#stressHead {
		font-size: .7rem;
		right: 40px;
		top: 1px;
	}

	#stressHead div{
		padding: 0px;
	}
}

@media only screen and (max-width: 380px) {
	#legend {
		display: none;
	}

	#headerData {
    width: 225px;
	}

	#fitnessHead {
    font-size: .7rem;
	}

	#fatigueHead {
		right: 160px;
		top: 1px;
	}

	#stressHead {
		right: 40px;
		top: 1px;
	}
}